@use '../../../styles/tokens' as *;

.list-section {
  &:not(:first-child) {
    margin-top: $space-2;
  }
}

.list-section__header {
  font-size: $font-sm;
  font-weight: $font-weight-medium;
  color: rgba($color-text-primary, 0.6);
  letter-spacing: 0.1px;
  padding: $space-1 $space-2;
  line-height: 1;
}
