@use '../../../styles/tokens' as *;

.list-section {
  &:not(:first-child) {
    margin-top: $space-2;
  }
}

.list-section__header {
  font-size: $font-sm;
  font-weight: $font-weight-medium;
  color: $text-600;
  letter-spacing: $letter-spacing-section;
  padding: $space-1 $space-2;
  line-height: 1;
}
